@import url(../App.css);

.PageHeader {
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 0px 4px #000;
    position: sticky;
    top: 0;
}

.Menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.ActiveLink {
    border-bottom: 2px solid var(--third-background-color);
    padding-bottom: 2px;
}

.HeaderLogo {
    height: 100%;
}

.HeaderLogoImage {
    height: 100%;
}

.DecorText {
    height: 36px;
    width: 0.5px;
    background-color: #000;
    opacity: 50%;
}

.RightSideMenu {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LogoSection {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.LogoImage {
    height: 30px;
}

.PageFooter {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterBorder {
    width: 90%;
    border-top: 1px solid var(--first-background-color);
    margin: 1%;
}

.FooterText {
    color: var(--first-background-color);
}