@import url(./reset.css);

*, *::after, *::before {
  box-sizing: border-box;
  color: #000;
  --first-background-color: #8C34B9;
  --secondary-background-color: #F4DEFF;
  --third-background-color: #D685FF;
}

a {
  text-decoration: none;
}

.BackgroundMain {
  height: 85vh;
  width: 100vw;
  background-image: url('../src/images/room2.jpg');
  background-size: cover;
  background-position: 0% 40%;
}

.HeaderSection {
  background-color: #fff;
  width: 60%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 33%;
  opacity: 60%;
  border-radius: 300px 0 0 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}