@tailwind base;
@tailwind components;
@tailwind utilities;

body, button, input, textarea, select, h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Montserrat', sans-serif !important;
  @apply antialiased text-black;
}